.container,
.link,
.intro {
  display: flex;
  flex-direction: column;
}

.intro {
  margin: 0 auto;
  max-width: 70%;
  text-align: left;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.link {
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .intro {
    width: 50%;
    font-size: 30px;
    
  }
}
