@import "./reset.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-white: #ffffff;
  --color-cod-gray: #131313;
  --sunset-orange: #ff5353;
  --color-magnolia: #faf9ff;
  --color-bunker: #101519;
  --color-black: #000000;
  --shadow-offset: 0 0 var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.home {
  margin-top: 2rem;
}

button,
a {
  background-color: var(--sunset-orange);
  width: 11rem;
  height: 4rem;
  color: var(--color-white);
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  text-align: center;
}

button:hover,
a:hover {
  outline: 2px solid var(--color-cod-gray);
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
}

.scoresPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoresTable {
  margin-top: 2rem;
  max-width: 960px;
}

.scoresTable td {
  position: sticky;
  left: 0;
}

.scoresTable table {
  word-break: break-all;
  overflow-x: scroll;
}

.scoresTable table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
.scoresTable tr {
  background: white;
  border-bottom: 1px solid;
}
.scoresTable th,
.scoresTable table td {
  padding: 7px 10px;
  text-align: center;
}

.personalScoresPage .scoresTable td {
  padding: 10px 5px;
}

@media screen and (min-width: 1024px) {
  .scoresTable table {
    overflow-x: hidden;
  }
}
