.loginForm {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.loginLabel {
  display: block;
}

.nameInput {
  border-radius: 2px;
  width: 100%;
  padding: 0.25rem;
  color: var(--color-cod-gray);
}

.loginLabel,
.nameInput {
  margin-bottom: 10px;
}
