.backButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 6px;
  background-color: var(--color-bunker);
  width: 8rem;
  height: 3.5rem;
  position: absolute;
  top: 12px;
  right: 0;
}
