.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poweredBy {
  margin-right: 10px;
}

.logo {
  width: 6rem;
  height: auto;
}

@media screen and (min-width: 1024) {
  .logo {
    width: 5rem;
  }
}
