.loggedHomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.welcome {
  font-size: 2rem;
  text-align: center;
}

.userName {
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: underline;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.link {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .welcome {
  }
}
