.choice {
  padding: 1rem;
  border: 1px solid var(--color-cod-gray);
  pointer-events: all;
}

.choice:hover {
  cursor: pointer;
  outline: 1px solid var(--color-cod-gray);
}

.choice:active {
  background: var(--color-sunset-orange);
}

.correctChoiceSelected {
  background-color: lightgreen;
}

.wrongChoiceSelected {
  background-color: red;
  color: white;
}

.choiceDisabled {
  pointer-events: none;
}
